body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: teal;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.search-box {
    background-color: #e0e0e0; /* Light grey background */
    padding: 20px;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container {
    flex: 1;
    margin: 0 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.form-buttons button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.form-buttons button:last-child {
    background-color: grey;
}

.form-buttons button:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}



#resultsTable {
    background-color: #e0e0e0; 
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 20px; 

}

#resultsTable, #resultsTable th, #resultsTable td {
    border: none; 
}

#resultsTable th {
    background-color: teal; 
    color: white; 
    padding: 10px; 
    text-align: left; 
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-container {
        margin: 0 0 20px 0;
    }

    .form-buttons button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}